html, body, div, section, header, footer, ul {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  line-height: 1.25;
}
button, input[type="submit"] {
  padding: 1px 5px 1px 5px;
  border-radius: 6px;
  border: outset 3px #98dbff;
  background-color: white;
  margin-left: 3px;
  cursor: pointer;
}
button:hover:not([disabled]), input[type="submit"]:hover:not([disabled]) {
  border-style: inset;
}
hr {
  padding: 0;
  margin: 0;
}
a[href] {
  color: #b252b2;
  cursor: pointer;
}
a[href]:hover {
  text-decoration: underline;
}
