.CampaignPicker {
  max-width: 780px;
  margin: auto;
}

.CampaignPicker .body {
  margin-left: 20px;
  margin-right: 20px;
}

.CampaignPicker .campaignListBox {
  margin-bottom: 20px;
  max-width: 800px;
}

.CampaignPicker .campaignView {
  margin-top: 10px;
  border-radius: 10px;
  border: solid 2px #777;
  padding: 20px;
  cursor: pointer;
}

.CampaignPicker .campaignView:hover {
  border: solid 2px #c98232;
}

.CampaignPicker .campaignView .campaignIconView {
  width: 56px;
  height: 56px;
  border: solid 1px black;
  float: left;
  margin-right: 20px;
  background-color: #6699ff;
}

.CampaignPicker .campaignView .campaignNameView {
  color: black;
  font-size: 20px;
}

.CampaignPicker .campaignView .campaignGoView {
  float: right;
  font-size: 24px;
  font-weight: 520;
  color: #c98232;
  visibility: hidden;
}

.CampaignPicker .campaignView:hover .campaignGoView {
  visibility: visible;
}

.CampaignPicker .push-top {
  margin-top: 40px;
}

.CampaignPicker .nix {
  text-decoration: line-through;
}

.CampaignPicker .tag {
  color: #c98232;
  border: solid 1px #c98232;
  margin-left: 10px;
  padding: 2px 6px;
  border-radius: 5px;
}

.CampaignPicker .ModalWindow .body {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 15px;
}
