.CampaignView {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.CampaignView header {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-bottom: ridge 3px #cccccc;
}
