.ChronicleView {
  background: white;
  padding: 20px;
  width: 540px;
  border: solid 1px #dddddd;
  border-radius: 12px;
}
.ChronicleView h3 {
  font-size: 22px;
  text-align: center;
}
.ChronicleView div.label {
  display: inline-block;
  width: 150px;
}
.ChronicleView .dayInputContainer input {
  width: 45px;
}
.ChronicleView .timeInputContainer input {
  width: 45px;
}
.ChronicleView .locationInputContainer input {
  width: 305px;
}
.ChronicleView .notesInputContainer input {
  width: 305px;
}
.ChronicleView .durationInputContainer input:nth-child(1) {
  width: 100px;
}
.ChronicleView .durationInputContainer input:nth-child(2) {
  width: 50px;
}
.ChronicleView .TimeLabel {
  display: inline-block;
}
