.Map {
  height: 100%;
  position: relative;
}
.Map .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}
.Map div.layer {
  overflow: hidden;
}
.Map.grabber {
  cursor: pointer;
}
.Map .noclick {
  pointer-events: none;
}
