.MapToolbox {
  background-color: #fefefe;
  border: solid 1px #dddddd;
  border-radius: 5px;
  padding: 10px;
  width: 64px;
}
.MapToolbox .tool {
  cursor: pointer;
  border-radius: 5px;
  margin: 4px auto;
  border: 2px solid rgba(0,0,0,0);
  text-align: center;
}
.MapToolbox .tool:hover, .MapToolbox .tool.white:hover {
  border: 2px ridge red;
}
.MapToolbox .tool.selected {
  border: 2px ridge red; 
}
.MapToolbox .tool.white:not(.selected):not(:hover) {
  border: 2px solid gray; 
}
.MapToolbox .grabber {
  width: 35px;
  height: 35px;
}
.MapToolbox .bg {
  width: 25px;
  height: 25px;
}
.MapToolbox .tool i.material-icons {
  font-size: 32px;
}
.MapToolbox hr {
  margin-top: 5px;
  border-top: solid 1px #555;
  margin-bottom: 5px;
}
