.Menu {
  position: relative;
  display: inline-block;
  padding: 0;
}
.Menu button {
  font-size: 16px;
  display: flex;
  border-radius: 0;
  color: #6a6a6a;
  background-color: white;
  border: solid 1px #6a6a6a;
  padding: 4px 8px;
}
.Menu button i {
  margin: 0 2px;
  font-size: 18px;
  transform: translate(0, 1px);
}
.Menu button:hover {
  border: dashed 1px #6a6a6a;
}
.Menu ul {
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 25;
  list-style: none;
  border-left: solid 1px #444;
  border-right: solid 1px #444;
  border-top: solid 1px #444;
  font-size: 16px;
}
.Menu.right ul {
  right: 0px;
}
.Menu li {
  padding: 3px 6px;
  border-bottom: solid 1px black;
  cursor: pointer;
}
.Menu li:hover {
  background-color: #666;
  color: white;
}
.MenuItem a {
  color: black;
}
.MenuItem:hover a {
  color: white;
  text-decoration: none;
}
