.Onboarding header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.Onboarding header img.logo {
  border: solid 2px #999;
}
.Onboarding .ModalWindow {
  padding-bottom: 10px;
}
