{% extends "base.html" %}

{% block title %}d20hex{% endblock %}

{% block content %}
  <div class="main text-center"><div class="wrapper">
    <h1>d20hex</h1>
    <p>Here are your choices.</p>
    <p><a href="{% url "social:begin" "discord" %}">Login with your Discord account</a></p>
    <p><a href="{% url "social:begin" "facebook" %}">Login with your Facebook account</a></p>
    <div><small>By logging in through one of these identity providers, you are granting d20hex access to your name and email address.</small></div>
  </div></div>
  <style>
    html, body {
      height: 100%;
    }
    .main {
      height: 100%;
      width: 100%;
      display: table;
      padding-left: 80px;
      padding-right: 80px;
    }
    .wrapper {
      display: table-cell;
      height: 100%;
      vertical-align: middle;
    }
  </style>
{% endblock content %}
